// account container
.account-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 90vh;
}

.account {
  // image container
  &-image-container {
    margin: 10px 0;
  }

  // name
  &__name {
    font-size: 36px;
    font-weight: bold;
    font-family: cursive;
    margin: 20px 0;
    text-align: center;
  }

  // email
  &__email {
    font-size: 24px;
    margin: 20px 0;
    text-align: center;
  }

  // age
  &__age {
    font-size: 24px;
    margin: 20px;
    text-align: center;
  }
}
