@import "../../../common/variables.scss";

.form-types-container {
  background-color: $white;
  border-radius: $border-radius;
  padding: 10px;
  box-shadow: 0px 2px 2px 2px;
  margin: 100px 0;

  &-dark {
    background: $dark-gray;
    box-shadow: 0 2px 2px 2px $black;
  }

  @media screen and (min-width: 640px) {
    margin: 100px 35%;
  }
}

// mixin for heading
@mixin heading-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 5px 0;

  &:hover {
    cursor: pointer;
    background-color: $dark-gray;
  }

  &:focus-within {
    outline: none;
  }
}

// form heading options container
.form-type-heading-container {
  display: flex;
  justify-content: space-around;
  padding: 5px 0;
  background-color: $light-gray;
  border-radius: $border-radius;

  .login-heading {
    @include heading-container();
    border-right: 1px solid $black;
  }

  .sign-up-heading {
    @include heading-container();
  }
}
