// initial template container (form with options)
.initial-template-container {
  padding: 0 20px;
}

// banner container
.banner-text-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
