@import "../../../common/variables.scss";
@import "../../../common/functions.scss";

// mixin for shrink label
@mixin input-label-shrink() {
  font-size: 12px;
  top: 0;
  transition: all ease-in-out 0.3s;
  font-weight: bold;

  &:hover {
    cursor: default;
  }
}

// mixin for line below input
@mixin stay-line-itself() {
  transform: translateX(0);
  transition: all ease-in-out 0.3s;
}

// input container
.input-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 15px 0 10px 0;

  // input label
  .input-label {
    padding: 0 5px;
    position: absolute;
    font-size: 18px;
    top: 20px;
    transition: all ease-in-out 0.3s;

    &:hover {
      cursor: unset;
    }
  }

  // when there is any value inside input
  .shrink {
    position: absolute;
    @include input-label-shrink();
  }

  // border line initially not visible
  .border-line {
    width: 100%;
    height: 2px;
    position: absolute;
    border-bottom: 2px solid $black;
    transform: translateX(-101%);
    bottom: 2px;
    transition: all ease-in-out 0.3s;
  }

  // line under input
  .stay-line {
    @include stay-line-itself();
  }

  // line to appear under input and label to shrink
  &:focus-within {
    .border-line {
      @include stay-line-itself();
    }

    .input-label {
      @include input-label-shrink();
    }
  }
}

// default input styles
.input-default {
  @include default-input-styles();
}

// input style on dark theme
.input-dark {
  background: $light-gray;
}

// input style on light theme
.input-light {
  background: $white;
}

// large input field
.input-large {
  font-size: 18px;
}
