@import "../../../common/variables.scss";
@import "../../../common/functions.scss";

// mixin for shrink label
@mixin input-label-shrink() {
  font-size: 14px;
  top: 2px;
  transition: all ease-in-out 0.3s;
  font-weight: bold;

  &:hover {
    cursor: default;
  }
}

// mixin for line below input
@mixin stay-line-itself() {
  transform: translateX(0);
  transition: all ease-in-out 0.3s;
}

// input container
.input-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 20px 0 2px 0;

  // input label
  .input-label {
    padding: 0 5px;
    position: absolute;
    font-size: 18px;
    top: 27.5px;
    left: 10px;
    transition: all ease-in-out 0.3s;

    &:hover {
      cursor: unset;
    }
  }

  // light theme (label is black in color)
  .label-light {
    color: $black;
  }

  // dark theme (label is white in color)
  .label-dark {
    color: $white;
  }

  // when there is any value inside input
  .shrink {
    position: absolute;
    @include input-label-shrink();
  }

  // when shrink in light theme
  .shrink-light {
    color: $black;
  }

  // when shrink in dark theme
  .shrink-dark {
    color: $white;
  }

  // border line initially not visible
  .border-line {
    width: 100%;
    position: absolute;
    border-bottom: 2px solid $black;
    transform: translateX(-101%);
    transition: all ease-in-out 0.3s;
    bottom: 0;

    // line color in dark theme
    &-dark {
      border-bottom-color: $white;
    }
  }

  // line under input
  .stay-line {
    @include stay-line-itself();
  }

  // line to appear under input and label to shrink
  &:focus-within {
    .border-line {
      @include stay-line-itself();
    }

    .input-label {
      @include input-label-shrink();
    }

    .label-light {
      color: $black;
    }
  
    .label-dark {
      color: $white;
    }
  }
}

// default input styles
.input-default {
  @include default-input-styles();
}

// input round
.input-round {
  border-radius: 50px;
}

// input style on dark theme
.input-dark {
  background: $dark-gray;
  color: $white;
}

// input style on light theme
.input-light {
  background: $white;
}

// large input field
.input-large {
  font-size: 18px;
}
