@import "./common/variables.scss";

// app container
.app-container {
  min-height: 100vh;
  padding: .1px;
}

// app light theme
.app-light {
  background-image: linear-gradient($purple, $blue);
  color: $black;
}

// app dark theme
.app-dark {
  background-image: linear-gradient($black, $dark-gray);
  color: $white;
}

// theme button container
.theme-container {
  position: absolute;
  right: 0;
  margin-right: 10px;
}
