@import "./common/variables.scss";

// app container
.app-container {
  min-height: 100vh;
  padding: .1px;
}

// app light theme
.app-light {
  background-image: linear-gradient($purple, $blue);
  color: $black;
}

// app dark theme
.app-dark {
  background-image: linear-gradient($black, $dark-gray);
  color: $white;
}

/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
